.u-section-1 .u-sheet-1 {
  min-height: 889px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 112px;
  margin-bottom: 47px;
}

.u-section-1 .u-image-1 {
  min-height: 312px;
  background-image: url("images/phishing-emails-1259627975.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 312px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-1 .u-text-1 {
  margin: 0 120px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 10px 110px 0 10px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 428px;
}

.u-section-1 .u-container-layout-3 {
  padding: 19px 18px;
}

.u-section-1 .u-text-3 {
  margin: 0 84px 0 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-right: 84px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  min-height: 428px;
  background-image: url("images/phishing-724667131.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 730px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 300px;
  background-image: url("images/blackeyeonKaliLinux-2457656172.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 300px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  object-position: 50% 89.01%;
  width: 393px;
  height: 344px;
  margin: 0 -10px -54px auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 600px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 13px;
}

.u-section-2 .u-text-1 {
  font-size: 2.1875rem;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 68px 0 20px;
}

.u-section-2 .u-text-3 {
  margin: 7px 66px 0 22px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 13px 0 0 20px;
}

.u-section-2 .u-text-5 {
  margin: 9px 14px 0 20px;
}

.u-section-2 .u-text-6 {
  margin-left: 20px;
  margin-right: 14px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-text-7 {
  margin: 9px 14px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 247px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 247px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 495px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-2 .u-image-1 {
    min-height: 378px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-2 .u-image-1 {
    min-height: 284px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 63px;
  }

  .u-section-2 .u-image-1 {
    min-height: 179px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 179px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 298px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}